<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title><%= title_website %></title>
<meta name="description" content="<%= meta_website.description %>">
<meta name="keywords" content="pendidikan, belajar online, materi pembelajaran, tryout online, sekolah, pendidikan anak, bimbingan belajar">
<meta name="author" content="FarhanXCode7">
<meta name="robots" content="index, follow">

<meta property="og:title" content="<%= title_website %>">
<meta property="og:description" content="<%= meta_website.description %>">
<meta property="og:image" content="<%= base_url %>/images/og-image.png">
<meta property="og:url" content="<%= base_url %>">
<meta property="og:type" content="website">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title_website %>">
<meta name="twitter:description" content="<%= meta_website.description %>">
<meta name="twitter:image" content="<%= base_url %>/images/og-image.png">
<meta name="twitter:site" content="@FarhanXCode7">
<meta name="twitter:creator" content="@FarhanXCode7">

<link rel="canonical" href="<%= base_url %>">
<meta name="theme-color" content="#ffffff">
<link rel="apple-touch-icon" sizes="180x180" href="<%= base_url %>/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= base_url %>/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= base_url %>/favicon/favicon-16x16.png">
<link rel="manifest" href="<%= base_url %>/favicon/site.webmanifest">