<!DOCTYPE html>
<html lang="en" class="scroll-smoth" x-data="{ darkMode: localStorage.getItem('dark') === 'true' } " x-init="$watch('darkMode', (val) => localStorage.setItem('dark', val))" x-bind:class="{ 'dark': darkMode }">

   <head>
      <%- include('../partials/seo.ejs', { title_website: title_website || meta_website.title }) %>
      <%- include('../partials/script.ejs') %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
      <link rel="stylesheet" href="<%= base_url %>/css/style.css">
      <script>
         tailwind.config = {
            darkMode: 'class',
            theme: {}
         }
      </script>
   </head>

   <body x-data="{ loaded: true }" class="transition-all bg-gray-100 text-gray-900 dark:bg-gray-950 dark:text-white duration-300">
      <%- include('../partials/loader.ejs') %>
      <main class="container mx-auto min-h-screen max-h-screen">
         <%- body %>
      </main>
   </body>
</html>